// Fonts
$OPENSANS: 'Open Sans', sans-serif;
$ROBOTO: 'Roboto', sans-serif;
// Colores
$COLOR-CMC: #9b2e4e;
$COLOR-CMCH: #804D5C;
$COLOR-CMC1: #FF4D82;
$COLOR-CMC2: #CC3D68;
$COLOR-GREY: #f6f6f6;
$COLOR-GREY2: #e3eaef;
$COLOR-GREY3: #cbd8e1;
$COLOR-BLACK: #3c3d41;
$breadcrumb-divider: quote(">");