.main {
    .breadcrumb {
        background-color: #ffffff;
        margin-bottom: 0;
        &-item {
            a {
                font-weight: 600;
                text-transform: uppercase;
                color: rgba($COLOR-BLACK,0.7);
                font-size: 0.875rem;
                &.active {
                    color: $COLOR-BLACK;
                }
            }
        }
        .breadcrumb-item+.breadcrumb-item::before {
            display: inline-block;
            padding-right: .5rem;
            color: #6c757d;
            font-weight: 900;
            content: ">";
            vertical-align: middle;
            font-size: 0.75rem;
        }    
    }
}